body {
    margin: 0;
}

/* -------------------------- header ------------------------- */

header {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 16px;
    font-size: 24px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bi-people-fill {
    color: #0298db;
    margin-right: 4px;
}

.dropdown {
    display: none;
}

.dropdown>button {
    background-color: #0298db;
    border: none;
}

.dropdown>button:hover {
    opacity: 0.7;
    background-color: #0298db;
}

.nav-item>a {
    font-size: 24px;
}

/* -------------------------- main ------------------------- */

.accordion,
section {
    width: 80%;
    margin: 0 auto;
}

.accordion {
    margin-top: 60px;
}

.heading {
    border-left: 4px solid #0298db;
    border-bottom: 1px solid #0298db;
    margin-top: 24px;
    padding-left: 8px;
}

.description {
    margin-top: 24px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 100;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
}

p {
    border-bottom: 1px solid #eee;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 100;
}

@media (max-width: 670px) {
    .dropdown {
        display: block;
    }

    .navdiv {
        display: none;
    }
}