body {
    margin: 0;
    box-sizing: border-box;
}

/* -------------------------- header ------------------------- */


header {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 16px;
    font-size: 24px;
    border-bottom: 1px solid #eee;
}

.bi-people-fill {
    color: #0298db;
    margin-right: 4px;
}

.spinner {
    height: 30px;
    width: 30px;
    animation: spinner 0.7s linear infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

/* -------------------------- main ------------------------- */


form {
    width: 80%;
    margin: 0 auto;
    border: 2px solid #eee;
    padding: 16px;
    margin-top: 32px;
}


section {
    width: 80%;
    margin: 0 auto;
}

.heading {
    border-left: 4px solid #0298db;
    border-bottom: 1px solid #0298db;
    margin-top: 24px;
    padding-left: 8px;
}

#description {
    margin-top: 16px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 100;
}

#popup {
    display: none;
    margin-top: 32px;
}

#popup>h2,
#popup>p {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 100;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
}

label {
    font-family: 'Noto Sans JP', sans-serif;
}

.form-text {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 100;
}

#modal {
    display: none;
}

