body {
    margin: 0;
    font-family: 'Source Code Pro', monospace;
}



header {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding: 16px;
    font-size: 24px;
    border-bottom: 1px solid #eee;
}

.accordion {
    width: 80%;
    margin: 0 auto;
    margin-top: 60px;
}

section {
    width: 80%;
    outline: black;
    margin: 0 auto;
}

.heading {
    border-left: 4px solid #0298db;
    border-bottom: 1px solid #0298db;
    margin-top: 24px;
    padding-left: 8px;
}

.description {
    margin-top: 16px;
    font-family: 'Zen Maru Gothic', sans-serif;
}

h2 {
    font-family: 'Zen Maru Gothic', sans-serif;
}

p {
    border-bottom: 1px solid #eee;
    font-family: 'Zen Maru Gothic', sans-serif;
}

.bi-people-fill {
    color: #0298db;
    margin-right: 4px;
}

